body{
    font-family: 'Courier New', Courier, monospace;
    background-color: darkgray;
}

table{
    border: 2px solid black;
    margin: 0 auto;
    width: 800px;
    margin: 0 auto;
}

h1, h2{
    text-align: center;
}

h2{
    color: rgb(129, 73, 5);
}

td{
    border: 1px solid black;
    background-color: floralwhite;
    padding: 10px;
}

thead{
    background-color: darkorange;
}

.name{
    background-color: darksalmon;
}

header{
    background-color: goldenrod;
}